@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");

:root {
  --moderate-cyan: hsl(176, 50%, 47%);
  --dark-cyan: hsl(176, 72%, 28%);

  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 48%);

  --font: "Commissioner", sans-serif;
  --box-shadow-light: 0 0 2px rgba(0, 0, 0, 0.3);
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

.app-container {
  background-color: #eee;
  position: relative;
}
.app-container.modal main {
  filter: blur(10px);
}

.btn {
  border: 0;
  background: none;
  font-family: var(--font);
  font-size: 1.5rem;
  cursor: pointer;
}
.btn:disabled {
  background-color: var(--dark-gray);
  cursor: not-allowed;
}

.btn-cyan {
  background-color: var(--moderate-cyan);
  padding: 1.5rem 5rem;
  border-radius: 1000px;
  color: #fff;
  transition: all 0.2s;
}
.btn-cyan:hover {
  background-color: var(--dark-cyan);
}

.btn-book {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ddd;
  padding-right: 2rem;
  border-radius: 1000px;
  width: 16rem;
  color: var(--black);
  transition: all 0.2s;
}

.btn-book .book-icon circle {
  transition: all 0.2s;
}

.btn-book:hover {
  color: var(--dark-gray);
}
.book-icon {
  transition: transform 0.5s;
}

.btn-book:active .book-icon {
  transform: translateX(180%);
}

.btn-book:hover .book-icon circle {
  fill: var(--dark-gray);
}
.btn-book.booked .book-icon circle {
  fill: var(--dark-cyan);
}
.btn-book.booked {
  color: var(--dark-cyan);
}
.btn-cyan:active {
  transform: scale(0.98);
}
.btn:disabled {
  background-color: var(--dark-gray);
  cursor: not-allowed;
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 56%;
  }
}

@media screen and (max-width: 700px) {
  html {
    font-size: 52%;
  }
  .btn-cyan {
    /* padding: 1rem 3rem; */
  }
}
